*{
    margin: 0;
    padding: 0;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */

    padding: 20px;
    background: greenyellow;
}

.calculator{
    display: grid;
    justify-content: center; 
    align-content: center; 
    grid-template-columns: repeat(4, 1fr);
    border: 5px solid chocolate;
}

button{
    height: 12vh;
    font-size: 2rem;
    border: 1px solid white;
    background-color: antiquewhite
}

button:hover {
    background-color: aqua;
}

.column-2{
    grid-column: span 2;
}

.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-column: span 4;

    height: 20vh;
    padding:8px;
    background-color: black;
}

.result{
    color: white;
    font-size: 2rem;
    margin: auto 0;
}

.input{
    color: white;
    font-size: 3rem;
    margin: auto 0;
}